.card {
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}

h4,
h6 {
    font-weight: 400;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}


.section-title {
    h2 {
        font-size: 30px;
        font-weight: 600;
        position: relative;
        display: inline-block;
        margin: 0 0 0;

        &::before {
            position: absolute;
            top: 17px;
            left: -100px;
            width: 80px;
            height: 2px;
            content: "";
            background-color: #000;
        }

        &::after {
            position: absolute;
            top: 17px;
            right: -100px;
            width: 80px;
            height: 2px;
            content: "";
            background-color: #000;
        }
    }
}


.cart-table-content {
    table {
        border: 1px solid #ebebeb;

        thead>tr {
            border: 1px solid #ebebeb;
            background-color: #f9f9f9;

            th {
                font-size: 14px;
                font-weight: 500;

                padding: 21px 45px 22px;

                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
                text-transform: uppercase;

                color: #333;
                border-top: medium none;
            }
        }

        tbody>tr {
            border-bottom: 1px solid #ebebeb;

            td.product-thumbnail {
                width: 150px;
            }

            td.product-name {
                width: 435px;
                text-align: left;

                a {
                    font-size: 15px;
                    font-weight: 500;
                    color: #333;
                }
            }

            td.product-price-cart {
                width: 435px;

                span {
                    font-weight: 500;
                    color: #333;

                    &.old {
                        margin-right: 10px;
                        text-decoration: line-through;
                        color: #8e8e8e;
                    }
                }
            }

            td.product-remove {
                width: 100px;

                a,
                button {
                    font-size: 17px;
                    margin: 0 13px;
                    color: #666;
                    border: none;
                    background: none;
                }
            }

            td {
                font-size: 15px;
                padding: 30px 0 30px 30px;
                text-align: center;
                color: #333;
            }
        }
    }
}

.btn-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}