<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
            </div>
            <div class="col-md-6 right">

                <div class="input-box">

                    <header class="animated-heading">
                        <span style="--index: 1">S</span>
                        <span style="--index: 2">i</span>
                        <span style="--index: 3">g</span>
                        <span style="--index: 4">n</span>
                        <span style="--index: 5"> </span>
                        <span style="--index: 6">U</span>
                        <span style="--index: 7">p</span>
                      </header>
                    <div class="input-field">
                        <input type="text" class="input" id="pass" required="">
                        <label for="pass"><span class="required">*</span>Full Name</label>
                    </div>
                    <div class="input-field">
                        <input type="number" class="input" id="pass" required="">
                        <label for="pass"><span class="required">*</span>Phone Number</label>
                    </div>
                    <div class="input-field">
                        <input type="email" class="input" id="email" required="" autocomplete="off">
                        <label for="email"><span class="required">*</span>Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="pass" required="">
                        <label for="pass"><span class="required">*</span>Password</label>
                    </div>

                    <div class="input-field">

                        <input type="submit" class="submit" value="Sign Up">
                    </div>
                    <div class="signin">
                        <span>Already have an account? <a>Sign in here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>