.card-body {
    text-align: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img:hover{
        transition: 0.3s ease-in-out;
        transform: scale(1.1);
    }
}