<!-- <div class="container">
  <form class="border p-3 rounded-3" [formGroup]="form">
    <div class="row g-0">
      <div class="col text-center p-2 mb-3 bg-light">
        <span class="fs-3">FEEDBACK FORM</span>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="firstName" class="form-label">*FirstName</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
        <span class="text-danger" *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">FirstName is
          required*</span>
      </div>
      <div class="col mb-3">
        <label for="lastName" class="form-label">LastName</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName">
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="email" class="form-label">*Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <span class="text-danger" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Email is
          required*</span>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="message" class="form-label">*Message</label>
        <textarea class="form-control" id="message" formControlName="message"></textarea>
        <span class="text-danger" *ngIf="form.get('message')?.invalid && form.get('message')?.touched">Message is
          required*</span>
      </div>
    </div>

    <div class="row">
      <div class="col-6 offset-3">
        <div class="d-grid">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div> -->





<section class="section">
  <div class="contact-container">
    <div class="box">
      <form class="contact-left">
        <div class="contact-left-title">
          <h2>Feedback</h2>
          <hr>
        </div>
        <input type="text" name="name" placeholder="*Full Name" class="contact-inputs">
        <input type="email" name="email" placeholder="*Email " class="contact-inputs">
        <textarea name="msg" id="" placeholder="*Comment..." class="contact-inputs"></textarea>
        <button class="btn" type="submit">Submit<i class="bi bi-arrow-right-circle"></i></button>
      </form>
    </div>
    

    <div class="contact-right">
      <img src="assets/images/right_img.png">
    </div>
  </div>
</section>

<!-- <button class="btn">Hover Me!</button> -->